.header {
  position: absolute;
  top: 40px;
  width: 100%;
  height: 96px;
  backdrop-filter: blur(16px);
  padding: 20px 0;
  padding-left: 50px;
  padding-right: 180px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

hr {
  display: block;
  width: 45%;
  border-color: var(--color-hover);
}

.header__item {
  line-height: 94px;
  border-bottom: 3px solid transparent;
}

.header__list {
  display: flex;
  align-items: center;
  gap: 15px;
  cursor: pointer;
}

.header__id {
  color: var(--white);
  font-weight: 600;
  letter-spacing: 2.7px;
}

.header__text {
  color: var(--white);
}

.active__link {
  border-color: var(--white);
}

.header__item:not(.active__link):hover {
  line-height: 94px;
  border-color: var(--color-hover);
}

//* TABLET
@media screen and (max-width: 800px) {
  .header {
    top: 0;
    right: 0;
    width: 100%;
    padding-right: 0;
    backdrop-filter: blur(0px);
  }

  hr,
  .header__id {
    display: none;
  }

  .header__list {
    backdrop-filter: blur(16px);
    background-color: rgb(255, 255, 255, 4%);
    padding: 0 50px;
  }
}
