/* You can add global styles to this file, and also import other style files */

@import url("https://fonts.googleapis.com/css2?family=Barlow&family=Barlow+Condensed&family=Bellefair&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Barlow Condensed", sans-serif;
}

:root {
  --black: #0b0d17;
  --purple: #d0d6f9;
  --white: #ffffff;
  --color-hover: #979797;
  --color-number: #4f5158;
}

//* HEADINGS
h1 {
  font-size: 150px;
  font-family: "Bellefair", serif;
  color: var(--white);
  font-weight: 400;
}

h2 {
  font-size: 100px;
  font-family: "Bellefair", serif;
  color: var(--white);
  font-weight: 400;
}

h3 {
  font-size: 56px;
  font-family: "Bellefair", serif;
  color: var(--white);
  font-weight: 400;
}

h4 {
  font-size: 32px;
  font-family: "Bellefair", serif;
  color: var(--white);
  font-weight: 400;
}

h5 {
  font-size: 28px;
  font-family: "Barlow Condensed", sans-serif;
  letter-spacing: 4.75px;
  font-weight: 100;
  color: var(--purple);
}

//* SUBHEADING
.subheading1 {
  font-size: 28px;
  font-family: "Bellefair", serif;
  color: var(--white);
}

.subheading2 {
  font-size: 14px;
  font-family: "Barlow Condensed", sans-serif;
  letter-spacing: 2.35px;
  color: var(--purple);
}

//* NAV
nav a,
nav div a {
  font-size: 16px;
  font-family: "Barlow Condensed", sans-serif;
  letter-spacing: 2.7px;
}

a {
  display: inline-block;
}

p {
  font-family: "Barlow", sans-serif;
  font-size: 18px;
  line-height: 32px;
  font-weight: 400;
  color: var(--purple);
}
